/* 
    font-family: 'Lato', sans-serif;

    font-family: 'Love Ya Like A Sister', cursive; 

    colour
    blue: rgba(0, 76, 92, 1); 
    blue2: rgba(52, 100, 115, 1);
    green: rgba(89, 148, 80, 1);
    light green: rgba(236, 239, 216, 1);
    yellow: rgba(238, 214, 144, 1);
    yelloworange: rgba(241, 197, 80, 1);
    white: rgba(255, 252, 240, 1);
    #004C5C;
    #346473;
    #599450;
    #ECEFD8; 
    #EED690;
    #F1C550;
    #FFFCF0; white

    
    */

* {
  background-color: #fffcf0;
}

ul{
  list-style: none;
  margin: 0%;
  padding: 0%;
}

img {
  max-width: 50%;
  height: auto;
}

h1 {
  font-family: Love Ya Like A Sister;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #004c5c;
}

h2 {
  font-family: Love Ya Like A Sister;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #004c5c;
}

h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  color: #004c5c;
}

h4 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #004c5c;
}

h5 {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.015em;
  text-transform: capitalize;
  color: #004c5c;
}

h6 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  color: #004c5c;
}

body {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  text-align: justify;
  color: #004c5c;
}

#homeicons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0%;
}

header h1 {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

header p {
  text-align: justify;
  width: 80%;
  margin: auto;
  padding: auto;
  width: 40%;
}

.welcomeicon {
  text-align: center;
  /* max-width: 50% image is not even */
  width: 50%;
  height: auto;
  padding-top: 5%;
}

#icons {
  display: flex;
  flex-direction: row;
  /* image uneven with margin */
  width: auto;
  margin: 0% 20%;
}

#logout {
    margin: 5% auto;
    padding: 0.8% 1%;
    border: 5px solid #EED690;
    border-radius: 15px;
    text-align: center;
    
    max-width: 8%;
    height: auto;    
}