/* 
    font-family: 'Lato', sans-serif;

    font-family: 'Love Ya Like A Sister', cursive; 

    colour
    blue: rgba(0, 76, 92, 1); 
    blue2: rgba(52, 100, 115, 1);
    green: rgba(89, 148, 80, 1);
    light green: rgba(236, 239, 216, 1);
    yellow: rgba(238, 214, 144, 1);
    yelloworange: rgba(241, 197, 80, 1);
    white: rgba(255, 252, 240, 1);
    #004C5C;
    #346473;
    #599450;
    #ECEFD8; 
    #EED690;
    #F1C550;
    #FFFCF0; white

    
    */

* {
  background-color: #fffcf0;
  box-sizing: border-box;
  list-style: none;
}


/* img {
  max-width: 50%;
  height: auto;
}  */

h1 {
  font-family: Love Ya Like A Sister;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #004c5c;
}

h2 {
  font-family: Love Ya Like A Sister;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #004c5c;
}

h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  color: #004c5c;
}

h4 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #004c5c;
}

h5 {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.015em;
  text-transform: capitalize;
  color: #004c5c;
}

h6 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  color: #004c5c;
}

body {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  text-align: justify;
  color: #004c5c;
}

#homeicons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0%;
}

header h1{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 50%;
}

header p {
  max-width: 40%;
  height: auto;
  margin: auto;
}
  
.iconbox{
  display: flex;
  flex-direction: column;       
  padding: 5% 3% 2%;
}

#welcomenav{
  display: flex;s
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin: auto;
  padding:0%;  
}

#logout{
  border: 5px solid #EED690;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 120px;
  padding: 15px 0.5%;
  margin: 5% auto;
  z-index: 2;
  }

@media  (min-device-width: 50px) and (max-device-width: 670px) {
  #welcomenav{
    flex-direction: column;
  }

  ul li{
    padding: 2% 0%;
  }
}